
footer {
  background-color: $background-color;
  color: $text-color;
  padding: $padding;
  text-align: center;

  section {
    margin-bottom: $padding;
  }

  

  p {
    margin: 0 0 $padding;
    font-size: $font-size;
    font-family: $font-family;
    text-align: center;
  }

  a {
    margin: $link-margin;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  img {
    width: $img-size;
    height: $img-size;
    @include transition(transform, 0.3s, ease);
    @include hover-focus(scale(1.1));
  }
}