header a {
    text-decoration: none;
}


body header h1{
    display: flex;
    justify-content: center; 
    padding: 20px;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 60px;
    color: #FFFFFF; 
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8); 
    
    margin: 0 auto; 
    width: auto; 
    border-radius: 10px; 
    
    
}
