.main1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  @include text-style($font-family, $font-size-large, $text-shadow);
  @include transition(color $transition, text-shadow $transition);
  margin-top: $margin-top-large;

  img {
    grid-column: 2;
    grid-row: 1 / 2;
    width: $img-size-large;
    height: $img-size-large;
    margin-left: 20px;
    border-radius: 50%;
    @include box-shadow($box-shadow);
    @include transition(transform $transition, box-shadow $transition);
    margin-bottom: $margin-bottom-large;
  }

  article {
    grid-column: 1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 40px;
  }
}

.main2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);

  .p1,
  .p2,
  .p3 {
    @include text-style($font-family, $font-size-large, $text-shadow);
    @include transition(color $transition, text-shadow $transition);
  }

  .img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: auto;
    margin-top: 15%;
    margin-left: $margin-left-medium;
  }

  .p1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: $margin-left-medium;
  }

  .img2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .p2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: $margin-left-medium;
  }

  .img3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: $margin-top-large;
    margin-bottom: $margin-bottom-large;
  }

  .p3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-right: $margin-left-medium;
  }
}

.grid-einstein,
.grid-fleming,
.grid-galileo,
.grid-verne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  @include text-style($font-family, $font-size-large, $text-shadow);
  @include transition(color $transition, text-shadow $transition);
  margin-top: $margin-top-large;
}

.grid-einstein img,
.grid-fleming img,
.grid-galileo img,
.grid-verne img {
  width: $img-size-large;
  height: $img-size-large;
  @include box-shadow($box-shadow);
  @include transition(transform $transition, box-shadow $transition);
  margin-left: $margin-left-medium;
  border-radius: 15px;
}

.grid-einstein article,
.grid-fleming article,
.grid-galileo article,
.grid-verne article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin: 0 $margin-left-medium;
}

section .titulo1,
section .titulo2 {
  @include text-style($font-family, $font-size-medium, $text-shadow);
  margin-bottom: 50px;
  @include transition(color $transition, text-shadow $transition);
}

section {
  .titulo1 {
    h2 {
      text-align: center;
      margin-top: 300px;
    }
  }

  .titulo2 {
    margin-top: 50px;
    margin-left: $margin-left-medium;
  }
}

section p,
section article,
section h3,
section ol li {
  @include text-style($font-family, $font-size-medium, $text-shadow);
  text-align: justify;
  margin-left: $margin-left-medium;
  margin-right: $margin-left-medium;
  @include transition(color $transition, text-shadow $transition);
  margin-bottom: 20px;
  margin-top: 20px;
}