@mixin transition($property, $duration, $ease) {
    transition: $property $duration $ease;
  }
  
  @mixin hover-focus($transform) {
    &:hover, &:focus {
      transform: $transform;
    }
  }


  @mixin transition($properties...) {
    transition: $properties;
  }
  
  @mixin box-shadow($shadow) {
    box-shadow: $shadow;
  }
  
  @mixin text-style($font-family, $font-size, $text-shadow) {
    font-family: $font-family;
    font-size: $font-size;
    text-shadow: $text-shadow;
  }