@media (max-width: 1024px) {
    body {
        background-color: aliceblue;
    }

    .main1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        font-size: 20px;
        transition: color 0.3s ease, text-shadow 0.3s ease;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        margin-top: 5px;

        div {
            img {
                width: 300px;
                height: 300px;
            }
        }

        article {
            margin-bottom: 100px;
        }
    }

    .main2 .img1 img {
        width: 400px;
        height: auto;
        margin-right: 20px;
        border-radius: 15px;
    }

    .img2 img {
        width: 400px;
        height: auto;
        border-radius: 15px;
    }

    .main2 .img3 img {
        width: 400px;
        height: auto;
        margin-top: 10px;
        border-radius: 15px;
    }

    .p1 p,
    .p2 p,
    .p3 p {
        font-size: 18px;
        justify-content: left;
        margin-left: 5px;
    }

    .grid-einstein img {
        width: 300px;
        height: 300px;
    }

    .articulo-einstein article {
        margin-top: 50px;
    }

    .ciencia-en-casa {
        margin-top: 0;
        margin-bottom: 0;
    }

    .ciencia-en-casa p {
        margin-left: 70px;
    }

    main iframe {
        margin: 100px 0;
        width: 900px;
        height: 600px;
        margin-left: 80px;
    }
}