@media (max-width: 375px) 
{

   .section1 .main1 article {
        text-align: center;
        margin-right: 30px;
        font-size: 18px;
    }


    .grid-einstein img{
        width: 200px;
        height: auto;
        margin-left: 60px;
        border-radius: 15px;
      
      }




     main div .card {
        width: 100px;
        height: 100px;
        flex-direction: column;
    }
    .contenedor-tarjeta {
        width: 280px;
        height: auto;
      }

    .ciencia-en-casa {
        
        margin-top: 0;
    }

    .main2 .img2 img  {
        width: 200px;
        height: auto;
        margin-right: 40px;
    }
        

}