@media (max-width: 320px) {
  body header h1 {
    font-size: 25px;
  }

  .barra-nav {
    img {
      width: 80px;
      height: auto;
      align-content: center;
      margin-top: 5px;
    }

    p {
      text-align: center;
    }
  }

  .main1 {
    img {
      width: 200px;
      height: auto;
      margin-bottom: 25px;
      margin-left: 15px;
    }

    article {
      text-align: center;
    }
  }



  .main2 .img1 img {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }

  .main2 .img2 img {
    width: 200px;
    height: auto;
    margin-right: 40px;
  }

  .main2 .img3 img {
    width: 200px;
    height: auto;
    margin-top: 10px;
  }

  
  footer img {
    width: 35px;
    height: auto;
    margin-top: 10px;


  }


.grid-einstein img{
  width: 200px;
  height: auto;
  margin-left: 60px;
  border-radius: 15px;

}

.articulo-einstein article {
  text-align: center;
  margin-top: 30px;
}

section .titulo1 h2 {

  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
}

  .section1 .main1 article {
    text-align: center;
    margin-right: 30px;
    font-size: 18px;
}


.contenedor-tarjeta,
.contenedor-tarjeta1,
.contenedor-tarjeta2,
.card {
  width: 280px;
  height: auto;
  margin-left: 20px;
}


  
.contenedor-principal .contenedor-padre .contenedor-tarjeta .contenedor-texto p,
.contenedor-principal .contenedor-padre1 .contenedor-tarjeta1 .contenedor-texto p,
.contenedor-principal .contenedor-padre2 .contenedor-tarjeta2 .contenedor-texto p
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: $font-size-small;
    
  }

  .card .back h3  {
    font-size: $font-size-medium;
  }

  .face.back ul {
    font-size: $font-size-small;
  }


  div.card {
    width: 280px;
    height: 156.6px;
    flex-direction: column;
  }


  .card .click {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }

  .ciencia-en-casa {
    margin-top: 0;
  }

  .ciencia-en-casa p {
    margin-left: 20px;
  }

  main iframe {
    margin-left: 20px;
    width: 80%;
    height: auto;
  }
}