@media (max-width: 426px) {
    body header h1 {
      font-size: 30px;
    }
  
    .barra-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      background-color: transparent;
      justify-items: center;
  
      button {
        background-color: transparent;
      }
  
      p {
        text-align: justify;
        text-shadow: 5px 5px 10px rgba(235, 229, 229, 0.8);
        color: rgb(146, 146, 173);
      }
    }
  
    .main1 {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      margin-top: 5px !important;
  
      img {
        width: 300px !important;
        height: 300px;
        margin-bottom: 50px;
        margin-left: 0 !important;
      }
  
      article {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  
    .main2 {
      display: flex;
      flex-direction: column;
      text-align: center;
  
      .p1, .p2, .p3 {
        margin-left: 30px;
        font-size: 16px;
      }
  
      .img1 {
        width: 100%;
        height: auto;
        margin-top: 15%;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
  
      .img2 {
        width: 100%;
        height: auto;
        margin-top: 15%;
        margin-left: 30px;
        justify-content: justify;
      }
  
      .img3 {
        margin-top: 100px;
        margin-bottom: 20px;
      }
  
      .p1, .p2, .p3 {
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  
    .grid-einstein, .grid-fleming, .grid-galileo, .grid-verne {
      font-size: 16px;
    }
  
    section {
      .titulo1, .titulo2 {
        font-size: 16px;
      }
    }
  
    footer p {
      text-align: center;
    }
  }
  