@media (max-width: 426px){

    

    body header h1{
        font-size: 30px;
    }

    .barra-nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        background-color: transparent;
        justify-items: center;
        
       
    }

    .barra-nav button {
        
        background-color: transparent;
    }

    .barra-nav p {
        text-align: justify;       
        text-shadow: 5px 5px 10px rgba(235, 229, 229, 0.8);
        color: rgb(146, 146, 173);
        
    }

    .main1{
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
        font-size: 16px;
        
    }

    .main1 img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px !important;
        height: 300px !important;
        margin-bottom: 50px;
        margin-left: 15%;
        
    }

    .main1 article {
        grid-column: 1;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        text-align:left;
        margin-left: 40px;
        margin-right: 40px;
        
    }

    .main2{
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }

    .main2 .p1,
    .main2 .p2,
    .main2 .p3 { 
     margin-left: 30px;
    font-size: 16px;
    
}

.main2 .img1 {
    width: 100%;
    height: auto;
    margin-top: 15%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;



}

.main2 .img2{
    width: 100%;
    height: auto;
    margin-top: 15%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: justify;
}

.main2 .img3 {
    display: flex;
    flex-direction: row;
    justify-content: justify;
    margin-top: 100px;
    margin-bottom: 20px;
    

}

.main2 .p1,
.main2 .p2,
.main2 .p3 {
    margin-top: 20px;
    margin-bottom: 50px;
}


.grid-einstein,
.grid-fleming,
.grid-galileo,
.grid-verne{
   
        font-size: 16px;
        
}
section .titulo1,
section .titulo2{
   
    font-size: 16px;
    
}

footer p{

    text-align: center;
}




}
